* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    border-bottom: 2px solid #000
}

#main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100svh - 12.5rem);
    overflow: scroll;
    align-items: center;
    padding: 2rem;
}

.completed-task-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 2px solid #000;
}

.tasks {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task {
    width: 40rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid;
}

.task > .task-name {
    font-size: 1.5rem;
}
.task > .task-name {
    font-size: 1.5rem;
}

.task > .task-checkbox {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    border: 2px solid;
}

#add-todo-input {
    flex: 1;
    border: none;
    border-bottom: 2px solid;
    padding: 1rem 0;
    font-size: 1.25rem;
}

.add-todo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40rem;
    margin-bottom: 2rem;
}

#add-todo-button {
    width: 3.25rem;
    height: 3.25rem;
    border: 2px solid;
    background: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#add-todo-button:hover {
    color: #fff;
    background: #000;
    border: 2px solid #000000;
}
